<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>COVID-19 DashBoard - View Patient Information</title>

        <!-- Bootstrap Core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.css"/>
        <link href="css/view-patient.css" rel="stylesheet">
        <!-- Custom Fonts -->
        
 


        <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
    </head>

     
    <body>

        <div id="wrapper">

            <!-- Navigation -->
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="navbar-header-logo">
                    <a class="navbar-brand" href="index.html">
                        <img src="img/seal.png">
                    </a>
                    <a class="navbar-brand" href="index.html">Meycauayan ID HealthCare</a>
                </div>

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

              

                <ul class="nav navbar-right navbar-top-links">
                    
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-user fa-fw"></i> admin <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#"><i class="fa fa-user fa-fw"></i>Jhon Marc</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- /.navbar-top-links -->

                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                        <ul class="nav" id="side-menu">
                            <li>
                                <a href="../../dashboard-select.html" ><i class="fa fa-dashboard fa-fw"></i> Main Dashboard</a>
                            </li>
                            <li>
                                <a href="../index.html" ><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                            </li>
                            <li>
                                <a href="../patient_information.html"><i class="fa fa-edit fa-fw"></i>Patient Information<span class="fa arrow"></span> </a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="view-patient-form.html" class="active"><i class="fa fa-user " ></i> View Patient Information</a>
                                    </li>
                                    
                                </ul>
                            </li>
                            <li>
                                <a href="../barangay_cases.html"><i class="fa fa-table fa-fw"></i>Barangay Cases</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i>Statistical Report<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="../statistical_report.html">Current Year Report</a>
                                    </li>
                                    <li>
                                        <a href="../yearly_report.html">Past Year Reports Report</a>
                                    </li>
                                    <li>
                                        <a href="../comparative_report.html">Comparative Report</a>
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                            <li>
                                <a href="../vaccination_report.html"><i class="fa fa-edit fa-fw"></i>Vaccination Report</a>
                            </li>
                            <li>
                                <a href="../manage_user.html"><i class="fa fa-user fa-fw"></i>Manage User</a>
                            </li>
                            <li>
                                <a href="../activity_log.html"><i class="fa fa-edit fa-fw"></i>Activity Log</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div id="page-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header">DashBoard (COVID-19)</h1>
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-default">
                                <div class="panel-heading text-center panel-header">
                                   View Patient Information
                                </div>

                                <div class="panel-body">
                                    <div class="form-container">
                                        <form action="" method="POST">
                                            <div class="row">
                                                <h4 class="text-center mb-3">Personal Details</h4>
                                                
                                                <div class="col-lg-3 col-md-6 mb-3">
                                                    <label class="form-label">First Name</label>
                                                    <input type="text" class="form-control" placeholder="First name" aria-label="First name">
                                                 </div>
                                                 <div class="col-lg-3 col-md-6 mb-3">
                                                    <label class="form-label">Middle Name</label>
                                                    <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
                                                </div>
                                                <div class="col-lg-3 col-md-6 mb-3">
                                                    <label class="form-label">Last Name</label>
                                                    <input type="text" class="form-control" placeholder="Suffix" aria-label="First name">
                                                </div>
                                                <div class="col-lg-3 col-md-6 mb-3">
                                                    <label class="form-label">Gender</label>
                                                    <select class="form-control form-container" >
                                                        <option selected>Gender</option>
                                                        <option value="Male">Male</option>
                                                        <option value="Female">Female</option>
                                                        
                                                    </select>
                                                </div>
                                                <div class="col-lg-3 col-md-6 mb-3">
                                                    <label class="form-label">Civil Status</label>
                                                    <select class="form-control form-container">
                                                        <option selected style="font-size:1.2rem">Civil Status</option>
                                                        <option value="Male">Married</option>
                                                        <option value="Female">Widow</option>
                                                        
                                                      </select>
                                                </div>
                                                <div class="col-lg-3 col-md-6 mb-3">
                                                    <label class="form-label">Age</label>
                                                    <input type="number" class="form-control" placeholder="Age" aria-label="First name">
                                                </div>
                                                <div class="col-lg-3 col-md-6 mb-3">
                                                    <label class="form-label">Birthday</label>
                                                    <input type="date" class="form-control" aria-label="First name">
                                                </div>
                                                <div class="col-lg-3 col-md-6 mb-3">
                                                    <label class="form-label">Email Address</label>
                                                    <input type="email" class="form-control" placeholder="email-address" aria-label="First name">
                                                </div>
                                                <div class="col-lg-3 col-md-6 mb-3">
                                                    <label class="form-label">Contact No.</label>
                                                    <input type="number" class="form-control" placeholder="contact-no" aria-label="First name">
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <h4 class="text-center mb-3">Address Details</h4>
                                                <div class="col-lg-4 col-md-6 mb-3">
                                                    <label class="form-label">House No.</label>
                                                    <input type="text" class="form-control" placeholder="house-no" >
                                                </div>
                                                <div class="col-lg-4 col-md-6 mb-3">
                                                    <label class="form-label">Street</label>
                                                    <input type="text" class="form-control" placeholder="Street">
                                                </div>
                                                <div class="col-lg-4 col-md-6 mb-3">
                                                    <label class="form-label">Barangay</label>
                                                    <select class="form-control form-container">
                                                        <option selected>Barangay</option>
                                                        <option value="Bagbaguin">Bagbaguin</option>
                                                         <option value="Bahay Pare">Bahay Pare</option>
                                                         <option value="Bancal">Bancal</option>
                                                         <option value="Banga">Banga</option>
                                                         <option value="Bayugo">Bayugo</option>
                                                         <option value="Caingin">Caingin</option>
                                                         <option value="Calvario">Calvario</option>
                                                         <option value="Camalig">Camalig</option>
                                                         <option value="Gasak">Gasak</option>
                                                         <option value="Hulo">Hulo</option>
                                                         <option value="Iba">Iba</option>
                                                         <option value="Langka">Langka</option>
                                                         <option value="Lawa">Lawa</option>
                                                         <option value="Libtong">Libtong</option>
                                                         <option value="Liputan">Liputan</option>
                                                         <option value="Longos">Longos</option>
                                                         <option value="Malhacan">Malhacan</option>
                                                         <option value="Pajo">Pajo</option>
                                                         <option value="Pandayan">Pandayan</option>
                                                         <option value="Pantoc">Pantoc</option>
                                                         <option value="Perez">Perez</option>
                                                         <option value="Poblacion">Poblacion</option>
                                                         <option value="Saluysoy">Saluysoy</option>
                                                         <option value="Tugatog">Tugatog</option>
                                                         <option value="Ubihan">Ubihan</option>
                                                         <option value="Zamora">Zamora</option>
                                                        
                                                      </select>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <h4 class="text-center">COVID-19 Details</h4>
                                                <div class="col-lg-3 col-md-6 mb-3">
                                                    <label class="form-label">Status</label>
                                                    <select class="form-control form-container">
                                                        <option selected>Select Status</option>
                                                        <option value="active">Active</option>
                                                        <option value="recovered">Recovered</option>
                                                        <option value="death">Death</option>
                                                      </select>
                                                </div>
                                                <div class="col-lg-3 col-md-6 mb-3">
                                                    <label class="form-label">Testing Date</label>
                                                    <input type="date" class="form-control" aria-label="First name">
                                                </div>
                                               
                                                <div class="col-lg-3 col-md-6 mb-3">
                                                    <label class="form-label">Isolation Location</label>
                                                    <select class="form-control form-container">
                                                        <option selected>Isolation Location</option>
                                                        <option value="Private Hospital">Active</option>
                                                        <option value="Public Hospital">Recovered</option>
                                                        <option value="Quarantine Facility">Quarantine Facility</option>
                                                        <option value="Home Quarantine">Home Quarantine</option>
                                                    </select>
                                                </div>
                                                <div class="col-lg-3 col-md-6 mb-3">
                                                    <label class="form-label">Condition Status</label>
                                                    <select class="form-control form-container">
                                                        <option selected>Select Condition Status</option>
                                                        <option value="Private Hospital">Asymptomatic</option>
                                                        <option value="Public Hospital">Mild</option>
                                                        <option value="Quarantine Facility">Severed</option>
                                                        <option value="Home Quarantine">Moderate</option>
                                                        <option value="Home Quarantine">Critical</option>
                                                      </select>
                                                </div>
                                                <div class="col-lg-3 col-md-6 mb-3">
                                                    <label class="form-label">Symptoms</label>
                                                    <input type="text" class="form-control" value="diarrhea">
                                                </div>
                                                <div class="col-lg-3 col-md-6 mb-3">
                                                    <label class="form-label">Vaccination Report</label>
                                                    <select class="form-control form-container">
                                                        <option selected>Vaccination Report</option>
                                                        <option value="Vaccinated">Vaccinated</option>
                                                        <option value="Not Vaccinated">Not Vaccinated</option>
                                                        
                                                    </select>
                                                </div>
                                                <div class="col-lg-3 col-md-6 mb-3">
                                                    <label class="form-label">Brand of Vaccine (if vaccinated)</label>
                                                    <select class="form-control form-container">
                                                        <option selected>Brand of Vaccine </option>
                                                        <option value="Pfizer">Pfirzer</option>
                                                        <option value="Moderna">Moderna</option>
                                                        <option value="Sputnik V">Sputnik V</option>
                                                        <option value="Astrazeneca">Astrazeneca</option>
                                                        <option value="Sinovac">Sinovac</option>
                                                        <option value="Sinopharm">Sinopharm</option>
                                                        <option value="Johnson & Johnson">Johnson & Johnson</option>
                                                        
                                                    </select>
                                                </div>
                                                <div class="col-lg-3 col-md-6 mb-3">
                                                    <label class="form-label">No. of Dose</label>
                                                    <select class="form-control form-container">
                                                        <option selected>No. of Dose</option>
                                                        <option value= 1>1</option>
                                                        <option value= 2>2</option>
                                                        <option value= "booster shot">booster shot</option>
                                                        
                                                        
                                                    </select>
                                                </div>
                                                <div class="col-lg-3 col-md-6 mb-3">
                                                    <label class="form-label">Date Reported</label>
                                                    <input type="date" class="form-control" aria-label="First name">
                                                </div>
                                                <div class="col-lg-3 col-md-6 mb-3">
                                                    <label class="form-label">RTPCR Test</label>
                                                    <img>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <h4 class="text-center">CHU Report Details</h4>
                                                <div class="col-lg-3 col-md-6 mb-3">
                                                    <label class="form-label">Submitted By</label>
                                                    <input type="text" class="form-control" value="Jhon Marc Cabiles">
                                                 </div>
                                                 <div class="col-lg-3 col-md-6 mb-3">
                                                    <label class="form-label">Date/Time Submitted</label>
                                                    <input type="date" class="form-control" >
                                                </div>
                                                <div class="col-lg-3 col-md-6 mb-3">
                                                    <label class="form-label">CHU Reporting Unit</label>
                                                    <input type="text" class="form-control" value="CHU-I">
                                                 </div>
                                            </div>
                                            <div class="btn-submit text-center">
                                                <input type="submit" class="btn btn-primary btn-lg" value="Edit">
                                            </div>
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            </div>


        </div>
        <!-- /#wrapper -->

        <!-- jQuery -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap.min.js"></script>
        <script src="js/view-patient.js"></script>

      
        
    

    </body>
</html>
